.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: black;
  font-family: "Jost";
}

#title {
  font-family: "Lexend Deca";
  font-weight: 600;
  font-size: 32px;
  color: rgb(138, 48, 48);
  margin-top: 40px;
}

ul {
  font-family: "Jost";
}

li::marker {
  color: rgb(16, 105, 61); 
  content: "✓ "; 
  font-size: 16px; 
}

#marker {
  font-family: "Khula";
  font-weight: 600;
  color: rgb(138, 48, 48);
}

#containerCard {
  display: flex;
  gap: 16px;
  flex-wrap: wrap; 
  justify-content: center;
}

.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.khula-bold {
  font-family: "Khula", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}