footer {
  margin-top: auto;
  background-color: #811717;
  /* color: #FFFF; */
  border-radius: 15px;
  padding: 8px;
  width: 100%;
  max-width: 1440px;
  margin-left: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

#footer {
    color: white;
    text-align: center;
    font-family: "Jost";
}

.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.khula-bold {
  font-family: "Khula", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}